@media (min-width: 3401px) {
    .get-start-area-desk {
        left: -1830px;
    }
    .wellcome_area_payment {
        background-size: cover;
    }
}
@media (min-width: 2401px) and (max-width: 3400px) {
    .get-start-area-desk {
        left: -850px;
    }
    .wellcome_area_payment {
        background-position: 300px 0;
        background-size: cover;
    }
}
@media (min-width: 2201px) and (max-width: 2400px) {
    .get-start-area-desk {
        left: -490px;
    }
    .wellcome_area_payment {
        background-position: 300px 0;
        background-size: cover;
    }
}
@media (min-width: 1801px) and (max-width: 2000px) {
    .get-start-area-desk {
        left: -310px;
    }
    .wellcome_area_payment {
        background-position: 300px 0;
        background-size: cover;
    }
}
@media (min-width: 1700px) and (max-width: 1800px) {
    .get-start-area-desk {
        left: -210px;
    }
    .wellcome_area_payment {
        background-position: -50% 0;
    }
}
@media (min-width: 1400px) and (max-width: 1500px) {
    .get-start-area-desk {
        left: -65px;
    }
    .sing-up-button > a {
        min-width: 130px;
    }
    .wellcome-heading.wellcome-heading-desk {
        margin-top: -35px;
    }
    .txt-white.ft-size-23.mr-b0 {
        font-size: 20px;
    }
    .fa.gender-woman, .fa.gender-man {
        font-size: 30px !important;
    }
    .wellcome-heading.wellcome-heading-desk {
        margin-top: -80px !important;
    }
    .txt-white.txt-indigo {
        font-size: 15px;
    }
    .opac8 {
        opacity: 0.8;
    }
    .wellcome_area_payment {
        background-position: 30% 0;
    }
}
@media (min-width: 992px) {
    .disp-none-desk {
        display: none;
    }
}
@media (min-width: 1300px) {
    .wellcome-heading.wellcome-heading-desk {
        margin-top: -15px;
    }
    .get-start-area.get-start-area-desk {
        margin-top: 15px;
    }
    .m-t-150 {
        margin-top: -50px;
    }
    .bg-gardien-desk {
        background: linear-gradient(to left, #ebede2, #6c6473);
        margin-left: 2px;
    }
    .d-flex-desk {
        display: flex;
    }
}
@media (min-width: 1300px) and (max-width: 1399px) {
    .get-start-area-desk {
        left: -5px;
    }
    .wellcome-heading > h2 {
        font-size: 42px;
        margin-top: -160px;
    }
    .wellcome-heading-desk {
        left: 480px;
    }
    .name {
        font-size: 13px;
    }
    .menu_area .navbar-brand {
        font-size: 60px;
    }
    .get-start-area-desk {
        left: -65px;
    }
    .txt-inscription.ft-size-40.mr-b0, p.mr-b0 {
        font-size: 28px !important;
    }
    .txt-white.ft-size-23.mr-b0, label.txt-white {
        font-size: 15px !important;
    }
    .gender-woman, .gender-man {
        font-size: 23px !important;
    }
    .txt-white.txt-indigo {
        font-size: 13px;
    }
    .sing-up-button > a {
        height: 40px;
        min-width: 120px;
        line-height: 34px;
        text-align: center;
    }
    .pad-r0 {
        padding-right: 0;
    }
    .header_area {
        padding-right: 10px;
    }
    .wellcome_area_payment {
        background-position: 30% 0;
    }
}
@media (min-width: 1099px) and (max-width: 1250px) {
    .wellcome-heading > h2 {
        font-size: 40px;
    }
    .menu_area .navbar-brand {
        font-size: 60px;
    }
    .wellcome-heading.wellcome-heading-desk {
        margin-top: -220px;
    }
    .header_area {
        padding-left: 0;
    }
    .txt-inscription.ft-size-40.mr-b0, .get-start-area.get-start-area-desk>p.mr-b0 {
        font-size: 26px !important;
    }
    .txt-white.ft-size-23.mr-b0 {
        font-size: 14px !important;
    }
    .gender-woman, .gender-man {
        font-size: 23px !important;
    }
    .name {
        font-size: 12px;
    }
    .txt-white.txt-indigo {
        font-size: 12px;
        margin-bottom: 0.5rem;
    }
    .btn.submit-btn {
        height: 40px;
    }
    p.mr-b0 {
        font-size: 26px !important;
    }
    .form-group {
        margin-bottom: 0.5rem !important;
    }
    .wellcome_area {
        background-position: bottom center;
    }
    .header_area {
        padding-right: 5px;
    }
    .sing-up-button > a {
        height: 40px;
        min-width: 130px;
        line-height: 34px;
    }
    .opac8 {
        opacity: 0.5;
    }
    .single-team-member {
        margin-bottom: 20px;
    }
    .m-t-150 {
        margin-top: -100px;
    }
    input {
        font-size: 12px;
    }
    h3.mb-4 {
        font-size: 1.25rem;
    }
    .ft-size-12.disp-none-mobile {
        margin-bottom: 0;
    }
    .wellcome_area_payment {
        background-position: -20% 0;
        background-size: cover;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .menu_area .navbar-brand {
        font-size: 75px;
    }
    .menu_area #nav .nav-link {
        padding: 35px 7.5px;
    }
    .sing-up-button > a {
        color: #fff;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }
    .welcome-thumb {
        width: 50%;
        bottom: -100px;
        right: 50px;
    }
    .video-area {
        height: 550px;
    }
    .app_screenshots_slides {
        padding: 0 4%;
    }
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 23px 7.5px;
    }
    .get-start-area-desk {
        position: relative;
        top: 0;
        left: 0;
    }
    .wellcome-heading > h2 {
        font-size: 60px;
    }
    .section_padding_100_50 {
        padding-top: 50px;
    }
    .wellcome-heading-desk {
        text-align: center;
    }
    .max-wd-100 {
        max-width: 50% !important;
    }
    .txt-inscription.ft-size-40.mr-b0 {
        font-size: 35px !important;
    }
    .get-start-area-desk {
        margin-top: 35px;
    }
    .wellcome_area_payment {
        background-position: 22% center;
        background-size: cover;
    }
    .opac8 {
        opacity: 0.8;
    }
}

@media (max-width: 991px) {
    .disp-none-mobile {
        display: none;
    }
    .section-heading {
        margin-bottom: 40px;
    }
    .mt-40 {
        margin-top: 40px;
    }
    .section-heading-inscription {
        margin-bottom: 0 !important;
    }
    .fa.fa-bars {
        color: #726a84;
        font-size: 25px;
    }
    .navbar-light .navbar-toggler {
        padding-right: 0;
    }
    .navbar-light .navbar-toggler-icon {
        background: none !important;
    }
    .navbar-light .navbar-toggler {
        color: #726a84;
        border: none;
    }
    .pad-l10-mob {
        padding-left: 10px;
    }
    .pad-r10-mob {
        padding-right: 10px;
    }
    .disp-block-mobile {
        display: block;
    }
    .wellcome_area {
        height: auto;
        background-position: 80% 50%;
    }
    .wellcome_area_payment {
        background-position: 75% center;
        background-size: cover;
    }
    .wellcome-heading > h2 {
        color: #d3d5ca;
    }
    .txt-inscription, .fa.fa-arrow-down.ft-size-35 {
        color: #fff;
    }
    p.txt-indigo {
        color: #403ae4;
    }
    .p-t110 {
        padding-top: 0;
    }
    .p-b150 {
        padding-bottom: 40px;
    }
    p.ft-size-36 {
        font-size: 33px !important;
    }
    .pad-r0-mob {
        padding-right: 0 !important;
    }
    .fl-left {
        float: none;
    }
    .opac8 {
        opacity: 1;
    }
    .d-flex-mobile {
        display: flex;
    }
    .pad-l15-mobile {
        padding-left: 15px;
    }
    .txt-accroche {
        color: #141313 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        height: 50px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    #ca-navbar {
        padding: 30px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .welcome-thumb {
        width: 50%;
        bottom: -100px;
        right: 0;
    }
    .wellcome-heading {
        margin-bottom: 70px;
    }
    .single-special {
        padding: 30px 10px;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .video-area {
        height: 350px;
    }
    .section-heading > h2 {
        font-size: 38px;
    }
    .address-text > p,
    .phone-text > p,
    .email-text > p {
        font-size: 16px;
    }
    .footer-text > p {
        margin-bottom: 30px;
    }
    .section-heading {
        margin-bottom: 50px;
    }
    .sing-up-button > a {
        margin-top: 4px;
        display: inline-block;
        border: 2px solid #a883e9;
        height: 40px;
        min-width: 160px;
        line-height: 36px;
        font-size: 14px;
    }
    .counter-area {
        min-width: 50px;
    }
    .counter-area > h3 {
        font-size: 30px;
    }
    .app_screenshots_slides {
        padding: 0;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 90px !important;
        height: 90px !important;
    }
    .wellcome-heading > h2 {
        font-size: 40px;
        margin-top: 90px;
    }
    .pad-mobile-0 {
        padding: 0;
    }
    .max-wd-100 {
        max-width: 100% !important;
    }
    .get-start-area.get-start-area-desk {
        opacity: 0.6;
    }
    .fl-wrap {
        flex-wrap: wrap;
    }
    .disp-block-mobile {
        display: flex;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        height: 50px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 5px 15px;
    }
    #ca-navbar {
        padding: 20px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .header_area {
        top: 0;
    }
    .welcome_text .cd-intro > p {
        font-size: 14px;
    }
    .wellcome-heading > h2 {
        font-size: 38px;
        text-align: center;
        opacity: 0.7;
    }
    .txt-inscription.ft-size-40.mr-b0, .fa.fa-arrow-down.ft-size-35 {
        font-size: 30px !important;
    }
    .get-start-area .email {
        margin-bottom: 20px;
        max-width: 100%;
    }
    .get-start-area.get-start-area-desk {
        opacity: 0.6;
    }
    .col-contact-form-desk {
        padding-top: 0;
    }
    .welcome-thumb {
        width: 90%;
        bottom: -74px;
        right: 0;
    }
    .logo_area > a > h2 {
        font-size: 40px;
        margin-top: 10px;
    }
    .section-heading > h2 {
        font-size: 32px;
    }
    .single-special {
        margin-bottom: 30px;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .app-download-btn:first-child {
        margin-right: 0;
    }
    .app-download-area {
        display: block;
    }
    .app-download-btn {
        margin-bottom: 20px;
    }
    .video-area {
        border: 10px solid #fff;
        border-radius: 20px;
        height: 250px;
    }
    .video-area::after {
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border: 1px solid #f1f4f8;
        z-index: 2;
        border-radius: 20px;
    }
    .clients-feedback-area .client-description > p {
        font-size: 20px;
    }
    .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 70px !important;
        height: 70px !important;
    }
    .membership-description > h2 {
        font-size: 32px;
    }
    .get-started-button {
        text-align: left;
        margin-top: 20px;
    }
    .contact_from {
        margin-top: 10px;
    }
    .wellcome-heading > h3 {
        font-size: 252px;
        top: -105px;
        left: -1px;
    }
    .wellcome-heading, .single-cool-fact {
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .cool_facts_area .col-12:last-of-type .single-cool-fact {
        margin-bottom: 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .wellcome-heading > h3 {
        font-size: 284px;
    }
    .wellcome-heading > h2 {
        /* font-size: 70px; */
        font-size: 40px;
    }
    .welcome-thumb {
        bottom: -109px;
        width: 75%;
    }
    .wellcome-heading {
        margin-bottom: 50px;
    }
    .wellcome-heading > h3 {
        top: -139px;
    }
    .get-start-area .email {
        max-width: 370px;
    }
}

@media (max-width: 567px) {
    .pad-5 {
        padding: 5px;
    }
    .section_padding_100_50 {
        padding: 50px 10px;
    }
    .card {
        padding-left: 30px;
        padding-right: 30px;
    }
    .get-start-area-payment {
        margin-top: 30px !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .wellcome-heading > h3 {
        font-size: 286px;
    }
    .get-start-area .email {
        margin-bottom: 0;
    }
}